body {
    background-color: #2f2f20;
}

.main {
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
}

.d1 {
    position: absolute;
    background-image: url(img/back.jpg);
    background-size: 2700px 1500px;
    height: 30vh;
    width: 15vw;
    background-position: 0 50%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    top: 55%;
    transform: translateY(-50%);
    z-index: 2;
    animation: dd1 10s 5, dd12 10s 5;
    animation-delay: 4s, 14s;
}

.d2 {
    position: absolute;
    background-image: url(img/back.jpg);
    background-size: 2700px 1500px;
    height: 50vh;
    width: 25vw;
    background-position: -10vw 50%;
    left: 10vw;
    top: 55%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd2 10s 10;
    animation-delay: 4s;
}

.d3 {
    position: absolute;
    background-image: url(img/back.jpg);
    background-size: 2700px 1500px;
    overflow: hidden;
    height: 100vh;
    width: 40vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 50%;
    top: 55%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd3 10s 10;
    animation-delay: 4s;
}

.d4 {
    position: absolute;
    overflow: hidden;
    background-image: url(img/back.jpg);
    background-size: 2700px 1500px;
    height: 80vh;
    width: 25vw;
    left: 60vw;
    background-position: -70vw 50%;
    top: 55%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd4 10s 10;
    animation-delay: 4s;
}

@keyframes dd1 {
    0% {
    }

    50% {
        width: 95vw;
    }
}

@keyframes dd12 {
    0% {
    }

    50% {
        background-position: Calc(0vw - 40px) 50%;
    }
}

@keyframes dd2 {
    0% {
    }

    50% {
        background-position: Calc(-10vw - 40px) 50%;
    }
}

@keyframes dd3 {
    0% {
    }

    50% {
        background-position: Calc(-35vw - 40px) 50%;
    }
}

@keyframes dd4 {
    0% {
    }

    50% {
        background-position: Calc(-70vw - 40px) 50%;
    }
}

.six {
    background: #2f2f2f;
    padding: 50px 20px;
    text-align: center;
}

    .six h1 {
        font-weight: normal;
        font-family: 'Merriweather', serif;
        position: relative;
        display: inline-block;
        margin: 0;
        line-height: 1;
        color: #C0C0C0;
        font-size: 40px;
        padding: .4em 1em .55em;
    }

        .six h1:before,
        .six h1:after {
            content: "";
            position: absolute;
            width: 60%;
            height: .1em;
            background: #006400;
        }

        .six h1:before {
            left: 0;
            top: 0;
        }

        .six h1:after {
            right: 0;
            bottom: 0;
        }

        .six h1 span:before,
        .six h1 span:after {
            content: "";
            position: absolute;
            width: .65em;
            height: .65em;
            border: .1em solid #294200;
            border-radius: 50%;
            box-sizing: border-box;
        }

        .six h1 span:before {
            top: -.55em;
            left: -.325em;
        }

        .six h1 span:after {
            bottom: -.55em;
            right: -.325em;
        }

@media (max-width: 600px) {
    .six h1 {
        font-size: 2em;
    }
}

@media (max-width: 450px) {
    .six h1 {
        font-size: 1.5em;
    }
}

nav {
    width: 100%;
    margin: 0 auto 30px;
    font-family: Verdana, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu > li {
    display: inline-block;
    margin-right: 14%;
    position: relative;
}

    .topmenu > li:last-child {
        margin-right: 0;

    }

a {
    display: block;
    padding: 10px 15px;
    padding-left: 10px;
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}
.topmenu li a:hover {
    color: #E6855F;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.three ul {
    background: #D3D3D3;
}

    .three ul a {
        color: #74924C;
    }

.three .submenu {
    visibility: hidden;
    opacity: 0;
    background: #DCDCDC;
}

    .three ul li:hover .submenu {
        visibility: visible;
        opacity: 1;
    }

.d33 {
    position: absolute;
    background-image: url(img/back1.jpg);
    background-size: 1700px 900px;
    overflow: hidden;
    height: 100vh;
    width: 30vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 60%;
    top: 55%;
    left:2%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd33 10s 10;
    animation-delay: 4s;
}
@keyframes dd33 {
    0% {
    }

    50% {
        background-position: Calc(-35vw - 40px) 50%;
    }
}

.d44 {
    position: absolute;
    overflow: hidden;
    background-image: url(img/back1.jpg);
    background-size: 1700px 900px;
    height: 80vh;
    width: 20vw;
    left: 60vw;
    background-position: -70vw 60%;
    top: 55%;
    left: 31%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd44 10s 10;
    animation-delay: 4s;
}
@keyframes dd44 {
    0% {
    }

    50% {
        background-position: Calc(-70vw - 40px) 50%;
    }
}

.text {
    text-align: center;
    transform: translateX(55vw);
    margin-right: 60%;
    margin-left:5%;
    position: absolute;
    top: 72%;
    font-family: Verdana, sans-serif;
    width: 400px;
    box-shadow: 0 0 7px 3px #008000;
    border-radius: 10px;
    background-color: #696969;
}

.text2 {
    text-align: center;
    position: absolute;
    top: 173%;
    margin-left: 6%;
    font-family: Verdana, sans-serif;
    width: 400px;
    box-shadow: 0 0 7px 3px #008000;
    border-radius: 10px;
    background-color: #696969;
}

.d333 {
    position: absolute;
    background-image: url(img/back1.jpg);
    background-size: 1700px 900px;
    overflow: hidden;
    height: 100vh;
    width: 30vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 60%;
    top: 55%;
    left: 65%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd33 10s 10;
    animation-delay: 4s;
}

@keyframes dd33 {
    0% {
    }

    50% {
        background-position: Calc(-35vw - 40px) 50%;
    }
}

.d222 {
    position: absolute;
    background-image: url(img/back1.jpg);
    background-size: 1700px 900px;
    height: 50vh;
    width: 25vw;
    background-position: -10vw 50%;
    left: 40%;
    top: 55%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd222 10s 10;
    animation-delay: 4s;
}

@keyframes dd222 {
    0% {
    }

    50% {
        background-position: Calc(-10vw - 40px) 50%;
    }
}