body {
    background-color: #2f2f2f;
    
}

.z11{
    margin-top:60px;
}

.main {
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
}

.d1 {
    position: absolute;
    background-image: url(img/back.jpg);
    background-size: 2700px 1500px;
    height: 30vh;
    width: 15vw;
    background-position: 0 50%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    top: 60%;
    transform: translateY(-50%);
    z-index: 2;
    animation: dd1 10s 5, dd12 10s 50;
    animation-delay: 1s, 14s;
}

.d2 {
    position: absolute;
    background-image: url(img/back.jpg);
    background-size: 2700px 1500px;
    height: 50vh;
    width: 25vw;
    background-position: -10vw 50%;
    left: 10vw;
    top: 60%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd2 10s 100;
    animation-delay: 1s;
}

.d3 {
    position: absolute;
    background-image: url(img/back.jpg);
    background-size: 2700px 1500px;
    overflow: hidden;
    height: 100vh;
    width: 40vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 50%;
    top: 60%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd3 10s 100;
    animation-delay: 1s;
}

.d4 {
    position: absolute;
    overflow: hidden;
    background-image: url(img/back.jpg);
    background-size: 2700px 1500px;
    height: 80vh;
    width: 25vw;
    left: 60vw;
    background-position: -70vw 50%;
    top: 60%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd4 10s 100;
    animation-delay: 1s;
}

@keyframes dd1 {
    0% {
    }

    50% {
        width: 95vw;
    }
}

@keyframes dd12 {
    0% {
    }

    50% {
        background-position: Calc(0vw - 40px) 50%;
    }
}

@keyframes dd2 {
    0% {
    }

    50% {
        background-position: Calc(-10vw - 40px) 50%;
    }
}

@keyframes dd3 {
    0% {
    }

    50% {
        background-position: Calc(-35vw - 40px) 50%;
    }
}

@keyframes dd4 {
    0% {
    }

    50% {
        background-position: Calc(-70vw - 40px) 50%;
    }
}

.six {
    background: #2f2f2f;
    padding: 50px 20px;
    text-align: center;
}

    .six h1 {
        font-weight: normal;
        font-family: 'Merriweather', serif;
        position: relative;
        display: inline-block;
        margin: 0;
        line-height: 1;
        color: #C0C0C0;
        font-size: 40px;
        padding: .4em 1em .55em;
    }

        .six h1:before,
        .six h1:after {
            content: "";
            position: absolute;
            width: 60%;
            height: .1em;
            background: #006400;
        }

        .six h1:before {
            left: 0;
            top: 0;
        }

        .six h1:after {
            right: 0;
            bottom: 0;
        }

        .six h1 span:before,
        .six h1 span:after {
            content: "";
            position: absolute;
            width: .65em;
            height: .65em;
            border: .1em solid #294200;
            border-radius: 50%;
            box-sizing: border-box;
        }

        .six h1 span:before {
            top: -.55em;
            left: -.325em;
        }

        .six h1 span:after {
            bottom: -.55em;
            right: -.325em;
        }

@media (max-width: 600px) {
    .six h1 {
        font-size: 2em;
    }
}

@media (max-width: 450px) {
    .six h1 {
        font-size: 1.5em;
    }
}

nav {
    width: 100%;
    margin: 0 auto 30px;
    font-family: Verdana, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu > li {
    display: inline-block;
    margin-right: 14%;
    position: relative;
}

    .topmenu > li:last-child {
        margin-right: 0;

    }

a {
    display: block;
    padding: 10px 15px;
    padding-left: 10px;
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}
.topmenu li a:hover {
    color: #E6855F;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.three ul {
    background: #D3D3D3;
}

    .three ul a {
        color: #74924C;
    }

.three .submenu {
    visibility: hidden;
    opacity: 0;
    background: #DCDCDC;
}

    .three ul li:hover .submenu {
        visibility: visible;
        opacity: 1;
    }

.d33 {
    position: absolute;
    background-image: url(img/back1.jpg);
    background-size: 1700px 900px;
    overflow: hidden;
    height: 100vh;
    width: 30vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 60%;
    top: 55%;
    left:2%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd33 10s 100;
    animation-delay: 1s;
}
@keyframes dd33 {
    0% {
    }

    50% {
        background-position: Calc(-35vw - 40px) 50%;
    }
}

.d44 {
    position: absolute;
    overflow: hidden;
    background-image: url(img/back1.jpg);
    background-size: 1700px 900px;
    height: 80vh;
    width: 20vw;
    left: 60vw;
    background-position: -70vw 60%;
    top: 55%;
    left: 31%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd44 10s 100;
    animation-delay: 1s;
}
@keyframes dd44 {
    0% {
    }

    50% {
        background-position: Calc(-70vw - 40px) 50%;
    }
}

.text {
    text-align: center;
    transform: translateX(55vw);
    margin-right: 60%;
    margin-left: 5%;
    position: absolute;
    top: 72%;
    padding: 10px 10px;
    font-family: Verdana, sans-serif;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px , 2px 1px 6px 4px rgba(150, 128, 137, 0.5);
    border: 3px dashed #C0C0C0;
    color: #C0C0C0;
}

.text2 {
    text-align: center;
    position: absolute;
    top: 173%;
    padding: 10px 10px;
    margin-left: 5%;
    font-family: Verdana, sans-serif;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px, 2px 1px 6px 4px rgba(150, 128, 137, 0.5);
    border: 3px dashed #C0C0C0;
    color: #C0C0C0;
}

.d333 {
    position: absolute;
    background-image: url(img/back1.jpg);
    background-size: 1700px 900px;
    overflow: hidden;
    height: 100vh;
    width: 30vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 60%;
    top: 55%;
    left: 65%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd33 10s 100;
    animation-delay: 1s;
}

@keyframes dd33 {
    0% {
    }

    50% {
        background-position: Calc(-35vw - 40px) 50%;
    }
}

.d222 {
    position: absolute;
    background-image: url(img/back1.jpg);
    background-size: 1700px 900px;
    height: 50vh;
    width: 25vw;
    background-position: -10vw 50%;
    left: 40%;
    top: 55%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd222 10s 100;
    animation-delay: 1s;
}

@keyframes dd222 {
    0% {
    }

    50% {
        background-position: Calc(-10vw - 40px) 50%;
    }
}

.texthelp {
    font-family: Verdana, sans-serif;
    width: 600px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px, 2px 1px 6px 4px rgba(150, 128, 137, 0.5);
    border: 3px dashed #C0C0C0;
    color: #C0C0C0;
}

.texthelp1 {
    text-align: left;
    padding: 10px 10px;
    margin-bottom: 40px;
    font-family: Verdana, sans-serif;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px, 2px 1px 6px 4px rgba(150, 128, 137, 0.5);
    border: 3px dashed #C0C0C0;
    color: #C0C0C0;
}

.texthelp2 {
    text-align: left;
    padding: 10px 10px;
    margin-bottom: 40px;
    font-family: Verdana, sans-serif;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px, 2px 1px 6px 4px rgba(150, 128, 137, 0.5);
    border: 3px dashed #C0C0C0;
    color: #C0C0C0;
}

.texthelp3 {
    text-align: left;
    padding: 10px 10px;
    margin-bottom: 40px;
    font-family: Verdana, sans-serif;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px, 2px 1px 6px 4px rgba(150, 128, 137, 0.5);
    border: 3px dashed #C0C0C0;
    color: #C0C0C0;
}






.hide1,
.hide1 + label ~ div {
    display: none;
}

    .hide1 + label {
        margin-left: 116px;
        margin-bottom: 10px;
        font-family: Verdana, sans-serif;
        padding: 0;
        color: #C0C0C0;
        cursor: pointer;
        display: inline-block;
    }

    .hide1:checked + label {
        color: #808080;
        border-bottom: 0;
    }

        .hide1:checked + label + div {
            display: block;
            margin-left: 20px;
            padding: 10px;
            -webkit-animation: fade ease-in 0.5s;
            -moz-animation: fade ease-in 0.5s;
            animation: fade ease-in 0.5s;
        }

@-moz-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

.hide1 + label:before {
    color: #C0C0C0;
    content: "\21D3";
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.hide1:checked + label:before {
    content: "\21D1";
    color: #808080;
}





.hide2,
.hide2 + label ~ div {
    display: none;
}

    .hide2 + label {
        margin-left: 553px;
        margin-bottom: 10px;
        font-family: Verdana, sans-serif;
        padding: 0;
        color: #C0C0C0;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        top: 71%;
    }

    .hide2:checked + label {
        color: #808080;
        border-bottom: 0;
    }

        .hide2:checked + label + div {
            display: block;
            margin-left: 20px;
            padding: 10px;
            -webkit-animation: fade ease-in 0.5s;
            -moz-animation: fade ease-in 0.5s;
            animation: fade ease-in 0.5s;
        }

@-moz-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

.hide2 + label:before {
    color: #C0C0C0;
    content: "\21D3";
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.hide2:checked + label:before {
    content: "\21D1";
    color: #808080;
}




.hide3,
.hide3 + label ~ div {
    display: none;
}

    .hide3 + label {
        margin-left: 975px;
        margin-bottom: 10px;
        font-family: Verdana, sans-serif;
        padding: 0;
        color: #C0C0C0;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        top: 71%;
    }

    .hide3:checked + label {
        color: #808080;
        border-bottom: 0;
    }

        .hide3:checked + label + div {
            display: block;
            margin-left: 20px;
            padding: 10px;
            -webkit-animation: fade ease-in 0.5s;
            -moz-animation: fade ease-in 0.5s;
            animation: fade ease-in 0.5s;
        }

@-moz-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

.hide3 + label:before {
    color: #C0C0C0;
    content: "\21D3";
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.hide3:checked + label:before {
    content: "\21D1";
    color: #808080;
}



.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}

.modal_content {
    background-color: #fefefe;
    font-family: Verdana, sans-serif;
    margin: 300px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    z-index: 99999;
}

.close_modal_window {
    color: #aaa;
    float: right;
    font-size: 30px;
    cursor: pointer;
}


h1 {
    color: #D3D3D3;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h2 {
    color: #C0C0C0;
    font-family: 'Merriweather', serif;
    text-align:center;
}

h3 {
    color: #C0C0C0;
    font-family: 'Merriweather', serif;
    text-align:center;
    padding-bottom:30px;
}

.img1 {
    text-align: center;
    height: auto;
    min-width: 100%;
}

.imgcust {
    text-align: center;
}

.currentPage {
    color: #696969;
}

.btn {
    text-align: center;
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .3);
    transition: .3s;
    margin-bottom:40px;
}

    .floating-button:hover {
        background: #006400;
        box-shadow: 0 15px 20px #018701;
        color: white;
        transform: translateY(-7px);
    }


.floating-button2 {
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin-left: 39%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

    .floating-button2:hover {
        background: #006400;
        box-shadow: 0 15px 20px #018701;
        color: white;
        transform: translateY(-7px);
    }

.modal2 {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}

.modal_content2 {
    background-color: #fefefe;
    font-family: Verdana, sans-serif;
    margin: 300px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    z-index: 99999;
}

.close_modal_window2 {
    color: #aaa;
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.floating-button3 {
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin-left: 39%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .3);
    transition: .3s;
}

    .floating-button3:hover {
        background: #006400;
        box-shadow: 0 15px 20px #018701;
        color: white;
        transform: translateY(-7px);
    }

.modal3 {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}

.modal_content3 {
    background-color: #fefefe;
    font-family: Verdana, sans-serif;
    margin: 300px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    z-index: 99999;
}

.close_modal_window3 {
    color: #aaa;
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.floating-button4 {
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin-left: 39%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .3);
    transition: .3s;
}

    .floating-button4:hover {
        background: #006400;
        box-shadow: 0 15px 20px #018701;
        color: white;
        transform: translateY(-7px);
    }

.modal4 {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}

.modal_content4 {
    background-color: #fefefe;
    font-family: Verdana, sans-serif;
    margin: 300px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    z-index: 99999;
}

.close_modal_window4 {
    color: #aaa;
    float: right;
    font-size: 30px;
    cursor: pointer;
}



.textreg {
    padding: 10px 10px;
    font-family: Verdana, sans-serif;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px, 2px 1px 6px 4px rgba(150, 128, 137, 0.5);
    border: 3px dashed #C0C0C0;
    color: #C0C0C0;
}

.regname {
    width:200px;
    height:25px;
    margin-bottom:10px;
}
.regphone {
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
}
.regmail {
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
}
.regquestion {
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
    resize: vertical;
}
.floating-buttonq {
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 45px;
    line-height: 45px;
    margin-bottom:40px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

    .floating-buttonq:hover {
        background: #006400;
        box-shadow: 0 15px 20px #018701;
        color: white;

    }

.modalq {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}

.modal_contentq {
    background-color: #fefefe;
    font-family: Verdana, sans-serif;
    margin: 300px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    z-index: 99999;
}

.close_modal_windowq {
    color: #aaa;
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.map {
    transform: translateX(10vw);
}

.textregf {
    text-align: center;
    transform: translateX(15vw);
    position: absolute;
    padding: 10px 10px;
    font-family: Verdana, sans-serif;
    width: 400px;
    box-shadow: 0 0 7px 3px #008000;
    border-radius: 0;
    background-color: #696969;
}

.regnamef {
    position: absolute;
    top: 28%;
    transform: translateX(29vw);
    width: 200px;
    height: 25px;
}

.regphonef {
    position: absolute;
    top: 38%;
    transform: translateX(29vw);
    width: 200px;
    height: 25px;
}

.regmailf {
    position: absolute;
    top: 48%;
    transform: translateX(29vw);
    width: 200px;
    height: 25px;
}

.regquestionf {
    position: absolute;
    top: 58%;
    transform: translateX(29vw);
    width: 200px;
    height: 25px;
}

.floating-buttonqf {
    text-decoration: none;
    display: inline-block;
    width: 300px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin-left: 16%;
    position: absolute;
    top: 75%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    transform: translateX(6vw);
}

    .floating-buttonq:hover {
        background: #006400;
        box-shadow: 0 15px 20px #018701;
        color: white;
    }



ul.pageNumbers {
    text-align: center;
}

    ul.pageNumbers li {
        display: inline-block;
        font-size: 24px;
    }



.txt {
    text-align: center;
    font-family: Verdana, sans-serif;
    width: 400px;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px, 2px 1px 6px 4px rgba(150, 128, 137, 0.5);
    border: 3px dashed #C0C0C0;
    color: #C0C0C0;
    transform: translateX(20vw);
}
.txt- {
    text-align: center;
    font-family: Verdana, sans-serif;
    width: 400px;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px, 2px 1px 6px 4px rgba(150, 128, 137, 0.5);
    border: 3px dashed #C0C0C0;
    color: #C0C0C0;
    transform: translateX(-1vw);
}
label {
    font-family: Verdana, sans-serif;
    font-size: 24px;
    width: 400px;
}


.familyName {
    font-family: Verdana, sans-serif;
    font-size: 24px;
    color: #C0C0C0;
    padding-bottom: 15px;


}

table {
    table-layout: fixed; /* Фиксированная ширина ячеек */
    width: 100%; /* Ширина таблицы */
}

td img {
    height: 320px;
    width: 264px;
}


/* скрываем чекбоксы и блоки с содержанием */
.hidenew,
.hidenew + label ~ div {
    display: none;
}
    /* вид текста label */
    .hidenew + label {
        margin: 0;
        padding: 0;
        color: #C0C0C0;
        cursor: pointer;
        display: inline-block;
    }
    /* вид текста label при активном переключателе */
    .hidenew:checked + label {
        color: #808080;
        border-bottom: 0;
        padding-bottom:10px;
    }
        /* когда чекбокс активен показываем блоки с содержанием  */
        .hidenew:checked + label + div {
            display: block;
            padding: 10px;
            /* чуточку анимации при появлении */
            -webkit-animation: fade ease-in 0.5s;
            -moz-animation: fade ease-in 0.5s;
            animation: fade ease-in 0.5s;
        }
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

.hidenew + label:before {
    color: #C0C0C0;
    content: "\21D3";
    display: block;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.hidenew:checked + label:before {
    content: "\21D1";
    color: #808080;
}

.alta {
    width:fit-content;
}

.formClass {
    border-radius: 3px;
    padding: 20px 25px;
    text-align:center;
}
select {
    width: 400px;
    border-radius: 3px;
    vertical-align: middle;
    overflow-y: auto;
}









